#preloader{
  position: fixed;
  inset: 0;
  overflow: hidden;
  background-color: white;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  transition: 0.6s;
}

#preloader::before,
#preloader::after{
  content: "";
  position: absolute;
  border: 4px solid black;
  border-radius: 30%;
  animation: animate-preloader 2s cubic-bezier(0,0.2,0.8,1) infinite;
}

#preloader::after{
  animation-delay: -0.5s;
}

@keyframes animate-preloader{
  0%{
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100%{
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    opacity: 0;
  }
}
