.skill-container {
  margin-top: 30px;     /* match about-container */
  margin-left: 120px;   /* match your sidebar spacing */
  padding-left: 12px;   /* optional: same feel */
}

.other_skill,.coding_skill{
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

.other_skill a,.coding_skill a{
 font-size: 20px;
 color: var(--color4);
 text-decoration: none;
 font-family: 'Courier New', Courier, monospace;
 span{
    font-weight: 100;
    transition: all .5s;
  }
  span:nth-child(2){
    transition-delay: .1s;
  }
  span:nth-child(3){
    transition-delay: .2s;
  }
  span:nth-child(4){
    transition-delay: .3s;
  }
   span:nth-child(5){
    transition-delay: .4s;
  }
   span:nth-child(6){
    transition-delay: .5s;
  }
   span:nth-child(7){
    transition-delay: .6s;
  }
   span:nth-child(8){
    transition-delay: .7s;
  }
   span:nth-child(9){
    transition-delay: .8s;
  }
   span:nth-child(10){
    transition-delay: .9s;
  }
   span:nth-child(11){
    transition-delay: .10s;
  }
   span:nth-child(12){
    transition-delay: .11s;
  }
   span:nth-child(13){
    transition-delay: .12s;
  }
}
  a:hover{
    span{
      font-weight: 700;
    }
     span:nth-child(13){
    transition-delay: .12s;
  }
    span:nth-child(12){
    transition-delay: .11s;
  }
   span:nth-child(11){
    transition-delay: .10s;
  }
    span:nth-child(10){
    transition-delay: .9s;
  }
    span:nth-child(9){
    transition-delay: .8s;
  }
    span:nth-child(8){
    transition-delay: .7s;
  }
    span:nth-child(7){
    transition-delay: .6s;
  }
   span:nth-child(6){
    transition-delay: .5s;
  }
   span:nth-child(5){
    transition-delay: .4s;
  }
    span:nth-child(4){
      transition-delay: .3s;
    }
    span:nth-child(3){
      transition-delay: .2s;
    }
    span:nth-child(2){
      transition-delay: .1s;
    }
    span:nth-child(1){
      transition-delay: 0s;
    }
  }

  
  
  a.hover-shadow:hover{
      color: #550a0a;
    }
  
  &.hover-color{
    &:hover{
    text-shadow: 1px 0px 2px var(--color4);
      color: #ddd;
    }
  }
  /* a link hover end */
  

.skill {
    margin-top: 18px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.skill h2 {
    font-weight: lighter;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    padding: 6px 12px 6px 12px;
    border-radius: 5px;
    margin-bottom: 10px;
      /* h2 hover effect */
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.skill ul {
    list-style-type: square;
    line-height: 2;
}

.skill li{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: lighter;
}
   /* h2 hover effect */
.skill h2:hover{ 
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 

}


/* light and dark mode changes */

body.light-mode .other_skill a span,
body.light-mode .coding_skill a span {
  color: black;
}

body.light-mode .skill h2 {
  outline-color: rgba(0, 0, 0, 0.5);
  color: black;
}

body.light-mode .skill h2:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.2);
  outline-color: rgba(0, 0, 0, 0);
  text-shadow: 1px 1px 2px #888; 
}



  /* responsive */
  @media (max-width: 960px) {
  .skill-container {
    margin-left: 120px; 
  }
}

@media (max-width: 600px) {
  .skill-container {
    margin-left: 120px; 
  }
}






